
<div class="pensamento {{ thought.modelo }} ff-roboto-mono" [ngClass]="thoughtWidth()">
  <img src="../../../../assets/images/{{ thought.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ thought.conteudo }}</p>
  <p class="autoria"><b>{{ thought.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-favorito" (click)="updateLiked()">
      <img src="../../../../assets/images/icone-favorito-{{changeLikedIcon()}}.png" alt="Icone favorito {{changeLikedIcon()}}">
    </button>
    <button class="botao-editar" routerLink="/thought/edit/{{ thought.id }}">
      <img src="../../../../assets/images/icone-editar.png" alt="Ícone de editar">
    </button>

    <button class="botao-excluir" routerLink="/thought/exclude/{{ thought.id }}">
      <img src="../../../../assets/images/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
